 /*
#main{
   
    color: white;
    background-image: url("back.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#msg, #main{
    text-shadow: black 1px 1px 3px;
}

#fra{
    list-style-type: none;
}

*/
#par > * > * {
    margin: 2px;
}

button{
    background-color: #007BFF;
    color: white;
    border: 2px #007BFF solid;
    padding: 15px 0px;
    width: 40%;
    border-radius: 8px !important;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
}
